---
title: Rédiger accessible
duration: 1h00
layout: slides
---

{% include_relative common/couverture.html %}

<section id="intro" class="d-flex align-items-center">
  <div>
    <h1 class="display-1">Introduction</h1>
    <img alt="" src="{{ '/assets/images/devices.svg' | relative_url }}" loading="lazy" class="h-50 img-fluid position-absolute bottom-0 start-50 translate-middle-x">
  </div>
</section>

<section id="objectifs">
  <h2 class="display-1">Objectifs</h2>
  <ul class="fs-3">
    <li>Comprendre les <strong class="text-primary">bonnes pratiques</strong> applicables à tous types de supports</li>
    <li>Identifier les <strong class="text-primary">obstacles</strong> à éviter</li>
    <li>Tester et améliorer l’<strong class="text-primary">accessibilité des contenus</strong></li>
  </ul>
</section>

<section id="tous">
  <h2 class="display-1">Tous concernés</h2>
  <h3>Des contenus accessibles permettent de <strong class="text-primary">communiquer avec tous :</strong></h3>
  <ul class="fs-3">
    <li>Par mail</li>
    <li>Par documents bureautiques</li>
    <li>Sur les sites et les applications clients Orange</li>
    <li>Par messages sur les réseaux sociaux</li>
    <li>Sur les sites et les applications du service public</li>
    <li>&hellip;</li>
  </ul>
</section>

<section id="structure" class="d-flex align-items-center">
  <div>
    <h1 class="display-1">Structure des contenus</h1>
    <img alt="" src="{{ '/assets/images/devices.svg' | relative_url }}" loading="lazy" class="h-50 img-fluid position-absolute bottom-0 start-50 translate-middle-x">
  </div>
</section>

<section id="hierarchisation-claire">
  <h2 class="display-1">Hiérarchisation claire</h2>
  <ul class="fs-3">
    <li>Utiliser les <strong class="text-primary">titres (niveau 1, niveau 2, niveau 3&hellip;)</strong> pour organiser les sections et sous-sections du contenu</li>
    <li>Permettre aux destinataires du document d’avoir un <strong class="text-primary">aperçu rapide de la structure</strong></li>
  </ul>
</section>

<section id="quiz" class="d-flex align-items-center">
  <div>
    <h1 class="display-1">Quiz</h1>
    <img alt="" src="{{ '/assets/images/devices.svg' | relative_url }}" loading="lazy" class="h-50 img-fluid position-absolute bottom-0 start-50 translate-middle-x">
  </div>
</section>

<section id="quiz-1">
  <h2 class="display-1">Évaluation des connaissances</h2>
  <form class="quiz card mb-3" novalidate>
    <div class="card-body">
      <fieldset>
        <legend class="card-title">Question 1</legend>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox">
            <span class="badge rounded-pill text-bg-primary d-none">Bonne réponse</span>
            Réponse 1
          </label>
        </div>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox">
            Réponse 2
          </label>
        </div>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox">
            <span class="badge rounded-pill text-bg-primary d-none">Bonne réponse</span>
            Réponse 3
          </label>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Vérifier</button>
      </fieldset>
    </div>
  </form>
  <form class="quiz card mb-3" novalidate>
    <div class="card-body">
      <fieldset>
        <legend class="card-title">Question 2</legend>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="q2" data-valid="true">
            <span class="badge rounded-pill text-bg-primary d-none">Bonne réponse</span>
            Réponse 1
          </label>
        </div>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="q2">
            Réponse 2
          </label>
        </div>
        <div class="form-check mb-2">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="q2">
            Réponse 3
          </label>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Vérifier</button>
      </fieldset>
    </div>
  </form>
  <form class="quiz card mb-3" novalidate>
    <div class="card-body">
      <div class="row gy-3">
        <div class="col-xl">
          <fieldset>
            <legend class="card-title">Question 3</legend>
            <div class="form-check mb-2">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="q2" data-valid="true">
                <span class="badge rounded-pill text-bg-primary d-none">Bonne réponse</span>
                Réponse 1
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="q2">
                Réponse 2
              </label>
            </div>
            <div class="form-check mb-2">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="q2">
                Réponse 3
              </label>
            </div>
            <button class="btn btn-primary btn-sm" type="submit">Vérifier</button>
          </fieldset>
        </div>
        <div class="col-xl">
          <pre><code class="language-html">&lt;h1&gt;Main heading&lt;/h1&gt;
&lt;h2&gt;Sub heading&lt;/h2&gt;
&lt;h4&gt;Sub heading&lt;/h4&gt;
&lt;h2&gt;Sub heading&lt;/h2&gt;
&lt;h3&gt;Sub heading&lt;/h3&gt;
&lt;h4&gt;Sub heading&lt;/h4&gt;
&lt;h4&gt;Sub heading&lt;/h4&gt;</code></pre>
        </div>
      </div>
    </div>
  </form>
</section>

<section id="templates" class="d-flex align-items-center">
  <div>
    <h1 class="display-1">Templates</h1>
    <img alt="" src="{{ '/assets/images/devices.svg' | relative_url }}" loading="lazy" class="h-50 img-fluid position-absolute bottom-0 start-50 translate-middle-x">
  </div>
</section>

<section id="t1">
  <h2 class="display-1">Template 1</h2>
  <div class="row gy-3">
    <div class="col-xl-6">
      <div class="alert alert-danger">
        <span class="alert-icon"><span class="visually-hidden">Non-conforme</span></span>
        <p>Non-conforme</p>
      </div>
      <button type="button" class="btn btn-danger" data-bs-toggle="popover" data-bs-title="Lecteur d'écran" data-bs-content="Bla bla bla bla bla">Exemple</button>
    </div>
    <div class="col-xl-6">
      <div class="alert alert-success">
        <span class="alert-icon"><span class="visually-hidden">Conforme</span></span>
        <p>Conforme</p>
      </div>
      <button type="button" class="btn btn-success" data-bs-toggle="popover" data-bs-title="Lecteur d'écran" data-bs-content="Bla bla bla bla bla">Exemple</button>
    </div>
  </div>
</section>

<section id="t2">
  <h2 class="display-1">Template 2</h2>
  <div class="row gy-3">
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Carte 1</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Lien 1</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Carte 2</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Lien 2</a>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Carte 3</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Lien 3</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="t3">
  <h2 class="display-1">Template 3</h2>
  <div class="row gy-3">
    <div class="col-xl-4">
      <div class="card text-bg-danger">
        <div class="card-header">Carte</div>            
        <div class="card-body">
          <h3 class="card-title">Exemple</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Accordion Item #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Accordion Item #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Accordion Item #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include_relative common/merci.html %}

</section>
